.navbar-brand.is-flex {
    width:100%;
    margin-top:0.01em;
}

.navbar-start{
    display:flex;
}

.navbar-end{
    display:flex;
    margin-left:auto;
}

.my-background-1 {
    background: url(./desktop-best-fit.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.my-background-2 {
    background: url(./img/triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#animated-title {
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
}

#animated-title{
    color:rgba(255, 255, 255, 0.849);
}
.subtitle{
    color:rgb(224, 244, 246);
}
#animated-title:hover{
    color:rgb(209, 180, 18);
    font-size:50px;
}
.subtitle:hover{
    border:5px solid gold ;
    background:rgb(39, 214, 176);
    margin:auto;
    display:inline;
    box-shadow:2px 3px 4px white;
    font: size 3.5vw;
    font-family: cursive
}
